<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/panas.css" />

</head>

<body style="background-color:#006747">
    <div class="container" style="height:100vh;width:100%;background-color:white ">
        <div class="row" style="height:5vh; background-color:#CFC493">
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#bgStorySetupModal" style="background-color:#4CAF50">Task Information</button>

        </div>
        <div class="row" style="background-color:white">
            <div id="panas_div" style="padding: 30px 0px 0px 70px">
                <table id="panas_table" class="table table-sm">
                    <thead>
                        <tr>
                            <th class="border" >Indicate the extent you have felt this way over the past week.</th>
                            <th class="border">Very slightly or not at all</th>
                            <th class="border">A little</th>
                            <th class="border">Moderately</th>
                            <th class="border">Quite a bit</th>
                            <th class="border">Extremely</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border">Interested</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Interested" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Interested" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Interested" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Interested" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Interested" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Distressed</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Distressed" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Distressed" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Distressed" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Distressed" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Distressed" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Excited</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Excited" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Excited" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Excited" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Excited" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Excited" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Upset</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Upset" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Upset" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Upset" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Upset" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Upset" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Strong</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Strong" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Strong" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Strong" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Strong" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Strong" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Guilty</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Guilty" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Guilty" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Guilty" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Guilty" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Guilty" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Scared</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Scared" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Scared" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Scared" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Scared" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Scared" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Hostile</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Hostile" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Hostile" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Hostile" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Hostile" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Hostile" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Enthusiastic</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Enthusiastic" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Enthusiastic" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Enthusiastic" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Enthusiastic" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Enthusiastic" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Proud</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Proud" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Proud" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Proud" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Proud" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Proud" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Irritable</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Irritable" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Irritable" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Irritable" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Irritable" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Irritable" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Alert</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Alert" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Alert" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Alert" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Alert" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Alert" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Ashamed</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Ashamed" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Ashamed" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Ashamed" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Ashamed" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Ashamed" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Inspired</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Inspired" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Inspired" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Inspired" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Inspired" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Inspired" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Nervous</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Nervous" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Nervous" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Nervous" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Nervous" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Nervous" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Determined</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Determined" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Determined" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Determined" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Determined" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Determined" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Attentive</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Attentive" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Attentive" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Attentive" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Attentive" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Attentive" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Jittery</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Jittery" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Jittery" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Jittery" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Jittery" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Jittery" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Active</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Active" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Active" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Active" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Active" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Active" value="5"></label>
                            </td>
                        </tr>

                        <tr>
                            <td class="border">Afraid</td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Afraid" value="1"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Afraid" value="2"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Afraid" value="3"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Afraid" value="4"></label>
                            </td>
                            <td class="border">
                                <label class="radio-inline"><input type="radio" name="Afraid" value="5"></label>
                            </td>
                        </tr>
                        </tbody>
                </table>

            </div>

        </div>
        <div style="background-color:white; height:50px; margin-right: -15px; margin-left: -15px;padding: 5px 20px 100px 0px;">
            <div style="float:right; padding-right:50px">
                <button type="button" id="panas_result" class="btn btn-primary">Next</button>
            </div>
        </div>
        
        
    </div>
    <div class="modal fade" id="bgStorySetupModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="display:block !important">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Overall Task Description</h4>
                </div>
                <div class="modal-body">

                    <p>
                        <u>Background Story:</u> Teams are often a preferred choice to complete complex projects. The success of such teams depends on the right combination of factors such as team member personalities, roles, location where the teams meet, and how long they work among other things. Therefore, it is critical for project managers and hiring managers to consider these issues while hiring. However, since there is a lot of complex information that needs to be processed, it is difficult for one person to consider all issues and make the right choice on their own. To resolve this challenge, organizations are utilizing artificial intelligence (AI) chat bots to provide them with relevant information and helping them process this information in order to make effective decisions.
                        <br />
                        In this scenario, you will work with one such AI chat bots, which will help you determine the composition of a project team. In this task, a chat bot will provide you with relevant information needed to make a decision regarding the team composition. Using AI, the chat bot will adapt to your needs and respond to requests you make for more information. With the assistance of the AI chat bot, your task is to decide each candidate’s role in the project and how many hours they will need to work on the project every week.
                        <br />


                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>


    <script src="../static/panas.js"></script>
</body>

</html>